.head {
    background-color: rgb(243,173,168);
    color: white;
    padding: 1rem;
    margin-bottom: 2rem; 
}
.opsomming{
    list-style-type: decimal-leading-zero;
}

.card-body{
    margin-bottom: 1rem;
}

h1, h2, h3, h4{
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 20px;
}
h4{
    font-size: 15px;
    line-height: 0.75rem;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    font-size: 17px;
}

.prijs{
    text-align: center;
}
.cursief{
    font-style: italic;
}

.btn{
    padding: 5px 5px 5px 5px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 25px;
}
.btn-outline-danger {
    color: #fff;
    background-color: rgb(243,173,168);
    border-color: rgb(243,173,168);
}
.btn-outline-danger.active {
    color: #fff;
    background-color: rgb(243,173,168);
    border-color: rgb(243,173,168);
}
.btn-outline-danger:hover {
    color: rgb(243,173,168);
    background-color: transparent;
    background-image: none;
    border-color: rgb(243,173,168);
}
.btn-primary{
    background: none;
    border: none;
}
.btn-primary:hover {
    background-color: rgb(243,173,168);
}

.playlist1 {
    background-color: rgba(164,217,236,0.4);
    padding: 1rem;
}
.playlist2 {
    background-color: rgba(207,119,71,0.25);
    padding: 1rem;
}
.playlist3 {
    background-color: rgba(38,76,29,0.25);
    padding: 1rem;
}

.footer{
background-color: rgb(243,173,168);
color: white;
padding-top: 0.5rem;
}

.winkelmand {
    max-width: 60px;
    float: right;
}
.media {
    max-width: 40px;
    padding: 10px;
    padding-left: 0px; 
}
.right {
    float: right;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
